{
  "openapi": "3.1.0",
  "info": {
    "title": "WattTime Data API",
    "version": "V3",
    "x-logo": {
      "url": "https://www.watttime.org/api-documentation/images/logo-27870101.png",
      "backgroundColor": "#183B66",
      "altText": "WattTime Logo"
    }
  },
  "servers": [
    {
      "url": "https://api.watttime.org",
      "description": "WattTime Base API"
    }
  ],
  "tags": [
    {
      "name": "WattTime Data API_Signal Forecast_Forecast Data",
      "x-displayName": "Get Forecast Data"
    },
    {
      "name": "WattTime Data API_Historical Signal Data_Historical Data",
      "x-displayName": "Get Historical Data"
    },
    {
      "name": "WattTime Data API_Transitioning",
      "x-displayName": "Transitioning from v2 to v3",
      "description": "# High level notes\nAt a high level, the biggest change between v2 and v3 is a disambiguation of the `/v2/data` endpoint – since these data\nare best used in historical analysis rather than real time optimization, we’re now housing these data in the\n`/v3/historical` endpoint.\n\nThe `/v3/forecast` endpoint continues to provide forecast data for real time optimization, across a number of different signal types.\n\nWattTime is adding support for a number of new signal types, including: `health_damage` (both forecasted and historical), and `co2_aoer` (historical only, for accounting purposes). WattTime’s marginal operating emissions rate has been named co2_moer to disambiguate from other signals with equivalent units.\n\nAs a generalization, most query responses will now contain two stanzas: data and meta. data contains point times, values and optional pointwise metadata related to the filtering criteria provided in an array, and meta is a map/dictionary describing the returned data, including any potential warnings or issues encountered.\n\nWhere in the past a user could request data from `/v2/data` and `/v2/index` using GPS lat/long as inputs, these\nendpoints `/v3/historical` and `/v3/forecast/index` now accept only the region parameter as input to define the location.\n\nIn order to avoid potential ambiguity and confusion, timezones are now required on all user-provided timestamps. Previously if timestamps lacked timezone information, UTC was assumed. That must now be made explicit at request time.\n\nThere are fairly significant changes to how model versions are expressed in both historical data and forecasted data. WattTime is shifting towards date-based modeling to remove some confusion around the significance of model versions. WattTime uses a set of models depending on what data is available for a given region, and the model type is now expressed in the meta stanza of a response. binned_regression models indicate WattTime has sufficient data access to produce a full signal, and proxy type models indicate that WattTime is \n\n## /v2/forecast → /v3/forecast\n### Notes:\n\nThe `/v3/forecast` endpoint provides the currently applicable forecast. The response has been simplified compared to v2.\n"
    },
    {
      "name": "WattTime Data API_Introduction",
      "x-displayName": "Introduction",
      "description": "\nWattTime technology—based on real-time grid data, cutting-edge algorithms, and machine learning—provides first-of-its-kind insight into your local electricity grid’s marginal emissions rate.\n\nThe WattTime API provides access to real-time, forecast, and historical marginal emissions data for electric grids around the world. The marginal emissions rate we provide is a Marginal Operating Emissions Rate (_**MOER**_), in units of pounds of emissions per megawatt-hour (e.g. *CO2 lbs/MWh*). This MOER represents the emissions rate of the electricity generator(s) which are responding to changes in load on the local grid at a certain time. For a deeper understanding of how we produce marginal emissions rates, see our [methodology page](https://www.watttime.org/marginal-emissions-methodology/).\n\nIf you’re curious about what you can do with marginal emissions data, see our '[what we do](https://www.watttime.org/what-we-do/)' page, where you can dive into the various use cases. A common example of how to use the MOER value is to quantify the avoided emissions of a decision (manual or automated) to use energy at a different time than you otherwise would have (load-shifting). To quantify the pounds of CO2 emissions avoided by load-shifting, you would multiply your time-series of shifted energy usage (counterfactual MWh less actual MWh equals shifted MWh) by the MOER timeseries (CO2 lbs/MWh), then sum the result.\n\nYou can access the API by sending standard HTTP requests to the endpoints listed below. The /data, /historical, /forecast, and /maps endpoints are only available to subscribers. However, if you don’t yet have a subscription, you can preview all of the available region-specific data by providing CAISO_NORTH as the ba for your requests. A comparison of the ANALYST and PRO data plans can be found [here](https://www.watttime.org/get-the-data/data-plans/).\n\nPython3 example code is provided in the right pane of this documentation which shows how to interact with the API\nendpoints. For an example python script that pulls everything together, please see our [example code on GitHub](https://github.com/WattTime/apiv2-example/blob/master/query_apiv2.py).\n## Restrictions\nThere is a strict limit on the rate at which you may query the API. From any user, we allow a maximum of 3,000 requests in any 5-minute rolling window (an average of 10 requests per second). If requests exceed this, an HTTP 429 error code is returned.\n\n**The API rate limit is 3,000 requests in 5 minutes (10 per second).**\n## API Status Page and User Alerts\nWattTime publishes the current and historical uptime on the [API Status Page](https://status.watttime.org/). This page shows upcoming scheduled maintenance and provides updates during outages or maintenance. Users should subscribe to alerts via the status page to be kept up to date. This page is our method of communicating updates to our users related to maintenance, outages, and announcements related to version upgrades. Follow these instructions to subscribe to alerts: \n 1. Navigate to the [WattTime API Status Page](https://status.watttime.org/)\n 1. Click the 'subscribe to updates' button in the top right corner \n 1. Select your preferred means of notification (email, SMS, Slack, webhook) \n 1. Enter your contact information (this will not be used for any other purpose)\n## Best Practices for API Usage\nIf using this API to control many smart devices in different locations, we suggest the following protocol. For each device location, query `/region-from-loc` to determine the region for the desired signal_type (the balancing authority serving the device). Then, query the other endpoints (e.g. `/v3/forecast`, `/v3/historical`, etc.) with the resulting region to receive signal data.\n\nBecause balancing authority region boundaries are occasionally updated, it is important to re-query `/region-from-loc` at least once a month to ensure devices are receiving the signal corresponding to their location.\n\nFor companies using our API to support their IOT products, we recommend that you register an API account for use by your central service/cloud that redistributes information to each device as opposed to registering an account for each end-user’s unique device."
    },
    {
      "name": "WattTime Data API_Authentication",
      "x-displayName": "Authentication",
      "description": "\nTo start using the API, first register for an account by using the /register endpoint. Then use the /login endpoint to obtain an access token. You can then use your token to access the remainder of our endpoints. You must include your token in an authorization (bearer) header in subsequent requests to retrieve data. Your access token will expire after 30 minutes and you'll need to sign in again to obtain a new one."
    },
    {
      "name": "Understand",
      "x-displayName": "Understand the data",
      "description": "# Marginal Operating Emissions Rate (MOER) Model Hierarchy\nTo create MOER models, WattTime applies a causal regression model to empirical data. Where possible, our models are derived from historical time series data including:\n\n* Historical reported hourly emissions to agencies such as the US Environmental Protection Agency (EPA).\n* Observed demand, interchange, and generation by fuel type reported to government entities such as the US Energy Information Administration (EIA) or European Network of Transmission System Operators for Electricity (ENTSO-E).\n* Observed and forecasted energy prices (LMPs) and curtailment volumes reported by grid operators such as RTO/ISOs. \n* Weather data obtained from sources like Apple WeatherKit.\n\nIn some grid regions, not all of this data is made available by grid operators. In these regions, we have a hierarchy of alternative models to produce a MOER with fewer data dependencies. Model accuracy suffers as we rely on less endogenously reported information, however we aim to estimate a MOER signal that is still usable for both AER and Emissionality use cases. \n\n## The hierarchy of MOER models we currently produce includes:\n\n1. **Binned Regression**: This causal model creates a tree of regressions conditioned on grid operating conditions. These models include factors such as interchange with neighboring balancing authorities, emissions associated with charging pumped hydro storage, and curtailment where applicable. [More information on our binned regression methodology can be (found here)[https://www.watttime.org/app/uploads/2022/10/WattTime-MOER-modeling-20221004.pdf]. This is considered WattTime's highest quality methodology for the MOER signal type.\n1. **Average Interchange**: In the BCHYDRO and HQ regions, abundant hydropower resources mean that the internal marginal fuel source is nearly always reservoir based hydropower. Both of these regions are significant net-exporters to other grid regions; BCHYDRO exports to AESO, and the US Northwest, while HQ exports to AESO and NYISO. Because of this interchange, and the fact that additional demand from interchange can not indefinitely cause additional hydropower generation (as reservoirs are limited in their capacities) marginal consumption in either BCHYDRO or HQ restricts the possible export of hydropower generation. These regions have MOERS representative of a blend of the MOER from regions they export to.\n1. **Proxy Regression**: This model is used in regions where we have access to some real-time and forecasted information about the status of the grid (such as demand, or energy prices), but are lacking specific ground truth time series data such as emissions or generation by fuel type required to train a binned regression model. To estimate a MOER without this data, we use machine learning clustering algorithms to find similar grids that exist, or existed in the past to the region we are predicting. Once we find a number of cluster \u2018matches' for a proxy region, we regress demand against each fossil fuel type for a number of quantile bins. We then use location specific power plant data obtained through (Climate Trace)[https://climatetrace.org/] to estimate carbon intensities by fuel type. This model produces an inherently less accurate MOER than a binned regression model trained on endogenous data, however it still produces a signal useful for both AER and emissionality use cases by examining the relationship between marginal demand, and economically expected dispatch given a similar supply curve. This is considered a medium quality signal, and we will look to upgrade these models to higher quality binned regression methodologies as data transparency increases.\n1. **IFI Harmonized Default Grid Factors**: In regions where no operations data is available, we recommend using a dataset prepared for the United Nations which provides annual grid factor marginal emissions rates. The IFI methodology provides country specific factors for both an Operating Margin and Build Margin. More information about their methodology can be (found here)[https://unfccc.int/sites/default/files/resource/IFITWG_Methodological_approach_to_common_dataset.pdf]. We believe that their methodology for calculating the Operating Margin is likely underestimating the marginality of coal, particularly during low net-demand hours, while their methodology for the Build Margin is a good heuristic for emissionality applications. However, annual values like these should not be used for AER use cases where a granular time series of data is required.\n\n## Selecting a Model from the Hierarchy\nWattTime will only produce MOER data using the highest quality model we can produce in each region considering data availability. In most regions this is currently our binned regression model. Multiple model methodologies are only available during a transition period when we are introducing a new methodology in a particular region; during this window we will produce MOERs using both the older (lower quality) methodology, and the newer higher quality methodology. When this occurs, the older model is provided by default, however users may request the newer model using the `model` parameter in the API. Once the model transition period ends, new data will only be produced for the new model, and the default `model` parameter will change. Users may always request historical data from previous model versions. Although major model releases of this type are rare, users may learn about them through the `my-access/` endpoint, which will detail all model versions available for a given region, both currently and historically. WattTime may introduce additional model methodologies in the future as research proceeds.\n"
    }
  ],
  "paths": {
    "/v3/forecast": {
      "get": {
        "tags": [
          "WattTime Data API_Signal Forecast_Forecast Data"
        ],
        "summary": "Get the most recent forecast",
        "description": "Returns the most recently generated forecast for the specified grid region and `signal_type`. Forecasts are\ngenerated periodically (e.g. at 5-minute frequency, this frequency is described in the `generated_at_period_seconds`\nmetadata), and there is a `forecast` list made up of `point_time` and value pairs in the forecast horizon (e.g. a\n24-hr forecast horizon with 5-min frequency results in 288 values). Each `forecast` is valid starting from its\n`generated_at` time until it is superseded by a new `forecast` with a new `generated_at` time, and each `point_time`\nin the `data` list is valid from its `point_time` for the duration described in `data_point_period_seconds`.",
        "operationId": "get_current_forecast_v3_forecast_get",
        "parameters": [
          {
            "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Region",
              "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`"
            },
            "example": "CAISO_NORTH",
            "name": "region",
            "in": "query"
          },
          {
            "description": "Use to select any available `signal_type` which is authorized for your account",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/V3Signals"
                },
                {
                  "$ref": "#/components/schemas/V3ForecastSignals"
                }
              ],
              "title": "Signal Type",
              "description": "Use to select any available `signal_type` which is authorized for your account"
            },
            "example": "co2_moer",
            "name": "signal_type",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 24,
                  "minimum": 24
                },
                {
                  "type": "integer",
                  "maximum": 72,
                  "minimum": 72
                }
              ],
              "title": "Horizon Hours",
              "default": 24
            },
            "name": "horizon_hours",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3SingleForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://api.watttime.org/v3/forecast\"\n\n# Replace {token} with your login token here, see https://www.watttime.org/api-documentation/#login-amp-obtain-token for↲\n# more information\nheaders = {\"Authorization\": \"Bearer {token}\"}\nparams = {\n    \"region\": \"CAISO_NORTH\",\n    \"signal_type\": \"co2_moer\",\n}\nresponse = requests.get(url, headers=headers, params=params)\nresponse.raise_for_status()\nprint(response.json())\n",
            "label": "Python"
          }
        ]
      }
    },
    "/v3/forecast/historical": {
      "get": {
        "tags": [
          "WattTime Data API_Signal Forecast_Forecast Data"
        ],
        "summary": "Get a range of historical forecasted data",
        "description": "Returns forecast data for the specified grid region, time period, and `signal_type`. Forecasts are generated\nperiodically (e.g. at 5-minute frequency), and for each `generated_at` time, there is a `forecast` list made up of\n`point_time` and value pairs in the forecast horizon (e.g. a 24-hr forecast horizon with 5-min frequency results in\n288 values). Each `forecast` is valid starting from its `generated_at` time until it is superseded by a new `forecast`\nwith a new `generated_at` time, and each `point_time` in the `forecast` list is valid from its `point_time` for\nthe duration described in `data_point_period_seconds`. `start` and `end` are used to specify which `generated_at`\nforecasts will be returned. Individual queries are limited to 24 hours of `generated_at` forecasts (the range of\n`start` to `end`; this limit equals 288 `generated_at` times with 288 forecast values each).",
        "operationId": "get_historical_forecast_v3_forecast_historical_get",
        "parameters": [
          {
            "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating earliest desired forecast, _used to select the first `generated_at` time_",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Start",
              "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating earliest desired forecast, _used to select the first `generated_at` time_"
            },
            "example": "2023-03-31T13:42:00Z",
            "name": "start",
            "in": "query"
          },
          {
            "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating latest desired forecast, _used to select the last `generated_at` time_",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "End",
              "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating latest desired forecast, _used to select the last `generated_at` time_"
            },
            "example": "2023-03-31T13:42:00Z",
            "name": "end",
            "in": "query"
          },
          {
            "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Region",
              "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`"
            },
            "example": "CAISO_NORTH",
            "name": "region",
            "in": "query"
          },
          {
            "description": "Use to select any available `signal_type` which is authorized for your account",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/V3Signals"
                },
                {
                  "$ref": "#/components/schemas/V3ForecastSignals"
                }
              ],
              "title": "Signal Type",
              "description": "Use to select any available `signal_type` which is authorized for your account"
            },
            "example": "co2_moer",
            "name": "signal_type",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 24,
                  "minimum": 24
                },
                {
                  "type": "integer",
                  "maximum": 72,
                  "minimum": 72
                }
              ],
              "title": "Horizon Hours",
              "default": 24
            },
            "name": "horizon_hours",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ExtendedForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://api.watttime.org/v3/forecast/historical\"\n\n# Replace {token} with your login token here, see https://www.watttime.org/api-documentation/#login-amp-obtain-token for↲\n# more information\nheaders = {\"Authorization\": \"Bearer {token}\"}\nparams = {\n    \"region\": \"CAISO_NORTH\",\n    \"start\": \"2022-07-15T00:00Z\",\n    \"end\": \"2022-07-15T00:00Z\",\n    \"signal_type\": \"co2_moer\",\n}\nresponse = requests.get(url, headers=headers, params=params)\nresponse.raise_for_status()\nprint(response.json())\n",
            "label": "Python"
          }
        ]
      }
    },
    "/v3/historical": {
      "get": {
        "tags": [
          "WattTime Data API_Historical Signal Data_Historical Data"
        ],
        "summary": "Get a range of historical signal data",
        "description": "Returns signal data (e.g. CO₂ MOER in lbs/MWh) for the specified grid region, time period, and `signal_type`. Values\nare published in near real-time, periodically (e.g. at 5-minute frequency), and each value is valid starting from\nits `point_time` for the duration described in `data_point_period_seconds`. The publishing delay (the difference\nbetween the `point_time` for the value and the time that value is available in the API) varies by grid region. In\nsome regions the data will be available within one minute after a certain `point_time`, in other regions there may\nbe a delay of up to a few hours. Each query is limited to 32 days of data. Individual data points may be updated any\ntime after publishing.",
        "operationId": "get_historical_datapoint_v3_historical_get",
        "parameters": [
          {
            "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating earliest desired data, _used to select the first `point_time` included in the response_",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Start",
              "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating earliest desired data, _used to select the first `point_time` included in the response_"
            },
            "example": "2023-03-31T13:42:00Z",
            "name": "start",
            "in": "query"
          },
          {
            "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating latest desired data, _used to select the last `point_time` included in the response_",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "End",
              "description": "(inclusive) ISO8601-compliant timezone-aware date string indicating latest desired data, _used to select the last `point_time` included in the response_"
            },
            "example": "2023-03-31T13:42:00Z",
            "name": "end",
            "in": "query"
          },
          {
            "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Region",
              "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`"
            },
            "example": "CAISO_NORTH",
            "name": "region",
            "in": "query"
          },
          {
            "description": "Use to select any available `signal_type` which is authorized for your account",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/V3Signals"
                }
              ],
              "description": "Use to select any available `signal_type` which is authorized for your account"
            },
            "example": "co2_moer",
            "name": "signal_type",
            "in": "query"
          },
          {
            "description": "Use to return different models from defaults.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "Model",
              "description": "Use to return different models from defaults."
            },
            "example": "2022-01-01",
            "name": "model",
            "in": "query"
          },
          {
            "description": "Filter results for data newer than the provided datetime.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Updated Since",
              "description": "Filter results for data newer than the provided datetime."
            },
            "example": "2022-01-01T00:00:00+00:00",
            "name": "updated_since",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://api.watttime.org/v3/historical\"\n\n# Replace {token} with your login token here, see https://www.watttime.org/api-documentation/#login-amp-obtain-token for\n# more information\ntoken = \"\"\nheaders = {\"Authorization\": f\"Bearer {token}\"}\nparams = {\n    \"region\": \"CAISO_NORTH\",\n    \"start\": \"2022-07-15T00:00+00:00\",\n    \"end\": \"2022-07-15T00:05+00:00\",\n    \"signal_type\": \"co2_moer\",\n}\nresponse = requests.get(url, headers=headers, params=params)\nresponse.raise_for_status()\nprint(response.json())\n",
            "label": "Python"
          }
        ]
      }
    },
    "/v3/my-access": {
      "get": {
        "tags": [
          "Understand"
        ],
        "summary": "Describe what signal type/endpoint/region/model combinations are available for your account",
        "operationId": "get_full_my_access_hypercube_v3_my_access_get",
        "parameters": [
          {
            "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Region",
              "description": "Region abbreviation associated with location, from result of query to `/ba-from-loc`"
            },
            "example": "CAISO_NORTH",
            "name": "region",
            "in": "query"
          },
          {
            "description": "Use to select any available `signal_type` which is authorized for your account",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/V3Signals"
                },
                {
                  "$ref": "#/components/schemas/V3ForecastSignals"
                }
              ],
              "title": "Signal Type",
              "description": "Use to select any available `signal_type` which is authorized for your account"
            },
            "example": "co2_moer",
            "name": "signal_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PYHypercube"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://api.watttime.org/v3/my-access\"\n\n# Replace {token} with your login token here, see https://www.watttime.org/api-documentation/#login-amp-obtain-token for\n# more information\ntoken = \"\"\nheaders = {\"Authorization\": f\"Bearer {token}\"}\nparams = {}\nresponse = requests.get(url, headers=headers, params=params)\nresponse.raise_for_status()\nfor signal_type in response.json()[\"signal_types\"]:\n    print(signal_type)\n",
            "label": "Python"
          }
        ]
      }
    },
    "/v3/maps": {
      "get": {
        "tags": [
          "Understand"
        ],
        "summary": "Get a geojson defining the grid region boundaries for all regions that WattTime covers globally, by signal_type",
        "description": "The `/maps` endpoint provides a geojson of the grid region boundary for all regions that WattTime covers globally. Check when the geojson was last updated using the ‘last_updated’ value in the “meta” object of the geojson. Access to this endpoint is restricted to customers with ANALYST or PRO subscriptions.",
        "operationId": "get_v3_map_v3_maps_get",
        "parameters": [
          {
            "description": "Use to select any available `signal_type` which is authorized for your account",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/V3ForecastSignals"
                },
                {
                  "$ref": "#/components/schemas/V3Signals"
                }
              ],
              "title": "Signal Type",
              "description": "Use to select any available `signal_type` which is authorized for your account"
            },
            "example": "co2_moer",
            "name": "signal_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIV3DataResponseFormat": {
        "properties": {
          "point_time": {
            "type": "string",
            "format": "date-time",
            "title": "Point Time"
          },
          "value": {
            "type": "number",
            "title": "Value"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "title": "Last Updated"
          },
          "imputed_data_used": {
            "type": "boolean",
            "title": "Imputed Data Used"
          }
        },
        "type": "object",
        "required": [
          "point_time",
          "value"
        ],
        "title": "APIV3DataResponseFormat",
        "example": {
          "point_time": "2022-07-15T00:00:00+00:00",
          "value": 870,
          "last_updated": "2023-10-01T00:00:00+00:00",
          "imputed_data_used": true
        }
      },
      "APIV3ExtendedForecastType": {
        "properties": {
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Generated At"
          },
          "forecast": {
            "items": {
              "$ref": "#/components/schemas/APIV3DataResponseFormat"
            },
            "type": "array",
            "maxItems": 864,
            "minItems": 1,
            "uniqueItems": true,
            "title": "Forecast"
          }
        },
        "type": "object",
        "required": [
          "generated_at",
          "forecast"
        ],
        "title": "APIV3ExtendedForecastType"
      },
      "BaseAPIV3ResponseFormat": {
        "properties": {
          "point_time": {
            "type": "string",
            "format": "date-time",
            "title": "Point Time"
          },
          "value": {
            "type": "number",
            "title": "Value"
          }
        },
        "type": "object",
        "required": [
          "point_time",
          "value"
        ],
        "title": "BaseAPIV3ResponseFormat",
        "example": {
          "point_time": "2022-07-15T00:00:00+00:00",
          "value": 870
        }
      },
      "ErrorResponse": {
        "properties": {
          "error": {
            "type": "string",
            "title": "Error"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "docs": {
            "type": "string",
            "title": "Docs"
          }
        },
        "type": "object",
        "required": [
          "error",
          "message",
          "docs"
        ],
        "title": "ErrorResponse",
        "example": {
          "error": "INVALID_QUERY_PARAMS",
          "msg": "You've provided invalid parameters in your query",
          "docs": "https://www.watttime.org/api-documentation/#introduction"
        }
      },
      "ModelTypes": {
        "enum": [
          "proxy",
          "binned_regression",
          "heatrate",
          "average"
        ],
        "title": "ModelTypes",
        "description": "An enumeration."
      },
      "V3ExtendedForecastResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/APIV3ExtendedForecastType"
            },
            "type": "array",
            "title": "Data"
          },
          "meta": {
            "$ref": "#/components/schemas/V3ForecastMetadata"
          }
        },
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "title": "V3ExtendedForecastResponse",
        "example": {
          "data": [
            {
              "generated_at": "2022-07-15T00:00:00+00:00",
              "forecast": [
                {
                  "point_time": "2022-07-15T00:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T00:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T01:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T02:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T03:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T04:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T05:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T06:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T07:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T08:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T09:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T10:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T11:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T12:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T13:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T14:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T15:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T16:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T17:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T18:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T19:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T20:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T21:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T22:55:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:00:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:05:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:10:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:15:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:20:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:25:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:30:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:35:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:40:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:45:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:50:00+00:00",
                  "value": 870
                },
                {
                  "point_time": "2022-07-15T23:55:00+00:00",
                  "value": 870
                }
              ]
            }
          ],
          "meta": {
            "data_point_period_seconds": 300,
            "region": "CAISO_NORTH",
            "warnings": [
              {
                "type": "EXAMPLE_WARNING",
                "message": "This is just an example"
              }
            ],
            "signal_type": "co2_moer",
            "model": {
              "date": "2023-03-01"
            },
            "units": "lbs_co2_per_mwh",
            "generated_at_period_seconds": 300
          }
        }
      },
      "V3ForecastMetadata": {
        "properties": {
          "data_point_period_seconds": {
            "type": "integer",
            "title": "Data Point Period Seconds"
          },
          "region": {
            "type": "string",
            "title": "Region"
          },
          "signal_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/V3ForecastSignals"
              },
              {
                "$ref": "#/components/schemas/V3Signals"
              }
            ],
            "title": "Signal Type"
          },
          "units": {
            "type": "string",
            "title": "Units"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/WarningType"
            },
            "type": "array",
            "title": "Warnings"
          },
          "model": {
            "$ref": "#/components/schemas/V3ModelMetadata"
          },
          "generated_at_period_seconds": {
            "type": "integer",
            "title": "Generated At Period Seconds"
          }
        },
        "type": "object",
        "required": [
          "data_point_period_seconds",
          "region",
          "signal_type",
          "units",
          "warnings",
          "generated_at_period_seconds"
        ],
        "title": "V3ForecastMetadata",
        "example": {
          "data_point_period_seconds": 300,
          "region": "CAISO_NORTH",
          "warnings": [
            {
              "type": "EXAMPLE_WARNING",
              "message": "This is just an example"
            }
          ],
          "signal_type": "co2_moer",
          "model": {
            "date": "2023-03-01"
          },
          "units": "lbs_co2_per_mwh",
          "generated_at_period_seconds": 300
        }
      },
      "V3ForecastSignals": {
        "type": "string",
        "enum": [
          "wind_generation",
          "solar_generation"
        ],
        "title": "V3ForecastSignals",
        "description": "An enumeration."
      },
      "V3ModelMetadata": {
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "title": "Date"
          },
          "type": {
            "$ref": "#/components/schemas/ModelTypes"
          }
        },
        "type": "object",
        "required": [
          "date"
        ],
        "title": "V3ModelMetadata"
      },
      "V3Signals": {
        "type": "string",
        "enum": [
          "co2_moer",
          "co2_aoer",
          "health_damage",
          "curtailment"
        ],
        "title": "V3Signals",
        "description": "An enumeration."
      },
      "V3SingleForecastMetadata": {
        "properties": {
          "data_point_period_seconds": {
            "type": "integer",
            "title": "Data Point Period Seconds"
          },
          "region": {
            "type": "string",
            "title": "Region"
          },
          "signal_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/V3ForecastSignals"
              },
              {
                "$ref": "#/components/schemas/V3Signals"
              }
            ],
            "title": "Signal Type"
          },
          "units": {
            "type": "string",
            "title": "Units"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/WarningType"
            },
            "type": "array",
            "title": "Warnings"
          },
          "model": {
            "$ref": "#/components/schemas/V3ModelMetadata"
          },
          "generated_at_period_seconds": {
            "type": "integer",
            "title": "Generated At Period Seconds"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Generated At"
          }
        },
        "type": "object",
        "required": [
          "data_point_period_seconds",
          "region",
          "signal_type",
          "units",
          "warnings",
          "generated_at_period_seconds",
          "generated_at"
        ],
        "title": "V3SingleForecastMetadata",
        "example": {
          "data_point_period_seconds": 300,
          "region": "CAISO_NORTH",
          "warnings": [
            {
              "type": "EXAMPLE_WARNING",
              "message": "This is just an example"
            }
          ],
          "signal_type": "co2_moer",
          "model": {
            "date": "2023-03-01"
          },
          "units": "lbs_co2_per_mwh",
          "generated_at_period_seconds": 300,
          "generated_at": "2022-07-15T00:00:00+00:00"
        }
      },
      "V3SingleForecastResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/BaseAPIV3ResponseFormat"
            },
            "type": "array",
            "title": "Data"
          },
          "meta": {
            "$ref": "#/components/schemas/V3SingleForecastMetadata"
          }
        },
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "title": "V3SingleForecastResponse",
        "example": {
          "data": [
            {
              "point_time": "2022-07-15T00:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T00:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T01:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T02:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T03:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T04:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T05:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T06:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T07:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T08:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T09:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T10:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:45:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:50:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T11:55:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:00:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:05:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:10:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:15:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:20:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:25:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:30:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:35:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:40:00+00:00",
              "value": 870
            },
            {
              "point_time": "2022-07-15T12:45:00+00:00",
              "value": 870
            },
[...]
